@media screen and (max-width: 1000px) {
.meme{
	height: 220px;
	width: auto;
	padding: 50px;
	border-width: 20px;
	background-size: cover;
background-position: -10px;
background: center;
}
}

@media screen and (min-width: 1001px) {
 .meme{
	height: 420px;
	width: auto;
	padding: 50px;
	border-width: 20px;
	background-size: cover ;
background-position: -10px;

}
}






body{
	background-image: url("../images/miami.jpg"); 
	background-size: cover;
}


.panel{
	background-color: white;
	width: 80%;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	padding-top: 100px;
    background-color: rgba(192,199,206, .5);
	color: #373D2F;
	        border-radius: 25px;
}

.holder{
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.btnC{
	margin-right: 10px;
	margin-bottom: 10px;
}

.start{
	display: block;
	margin-left: auto;
	margin-right: auto;
		    opacity: .9;
		        z-index: 2;
}



#time{
	margin-left: auto;
	margin-right: auto;
}
